{% extends 'base_layout.html' %}
{%block content%}
    <h1>LOGIN</h1>
        <form class="form-group" action="{%url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn btn-default button12" type="submit" >LOGIN</button>
            <small>
                    <a href="{% url 'accounts:reset_password'%}">FORGOT PASSWORD</a>
            </small>

        </form>
        <form action="/accounts/signup/" method="GET">
            {% csrf_token %}

            <button class="btn btn-default button12" type="submit">SIGNUP</button>
        </form>

</body>

{% endblock %}